.header{
    padding: 70px 0;
}

.wrapper{
    margin-top: 15px;
}

ul{
    list-style: none;
}

.listing{
    margin-top: 25px;
}

.listing__item{
    display: inline-block;
    width: 40%;
    margin: 5% 0;
}

.listing__item__button{
    border: none;
    background: transparent;
    color: #FFF;
}

.btn--primary{
    outline:none;
}

.footer__logo{
    height:55px;
    width:350px;
    background: url("http://www.chanel.com/img/logo_chanel.svg") scroll no-repeat top left;
}