$xs: 360px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//I use "http://chir.ag/projects/name-that-color" to name the color
$white: #FFF;
$congress-blue: #004E8B;
$buttered-rum: #AD7F12;
$nevada: #627279;


$primary: $buttered-rum;
$secondary: $congress-blue;